<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.0.0
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs ŝukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="pt">
<!-- Header de cima -->
<%include ../layouts/header.ejs%>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <%include ../layouts/header-topo.ejs%>
    
    <div class="app-body">
        <%include ../layouts/menu-lateral.ejs%>
        <!-- side bar -->





            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content modal-inserir">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Inserir uma nova venda</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="erros">
                            <% if(errosValidacao){ %>
                              <ul>
                                <%for(var i=0; i< errosValidacao.length; i++){%>
                                  <li><%= errosValidacao[i].param%> - <%= errosValidacao[i].msg%></li>
                                <% } %>
                              </ul>
                            <% } %>
                            
                        </div>
                        <form class="form-inserir" action="/vendas" method="post">
                          <!-- <div class="row">
                            <div class="col-md-3">
                              <h4>Dados do produto</h4>
                            </div>
                          </div><br> -->
                          <div class="row form-group">
                            <div class="col-md-6">
                              <label for="">Nome do cliente:</label>
                              <select name="cliente_id" class="form-control">
                                <option value="">Escolha um cliente</option>
                                <%for (index = 0; index < clientes.length; index++) {%>
                                  <option value="<%=clientes[index].id%>"><%=clientes[index].nome%></option>
                                <%}%>
                              </select>
                            </div>
                            <div class="col-md-6">
                              <label for="">Data da compra:</label>
                              <input type="text" name="data" id="data" placeholder="Digite data da compra" class="form-control" value="">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <h4>Produtos:</h4>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary add-ingrediente"><i class="fa fa-plus"></i></button>
                            </div>
                          </div>
                          <div class="conteudo-ingredientes">
                              <div class="row">
                                  <div class="col-md-5">
                                    <label for="">Nome do produto:</label>
                                    <select name="vendas[0][produto]" class="form-control produtos" data-id="0">
                                      <option value="0">Escolha um produto</option>
                                      <%for (index = 0; index < produtos.length; index++) {%>
                                        <option value="<%=produtos[index].id%>" data-preco="<%=produtos[index].preco%>"><%=produtos[index].nome%> - R$ <%=produtos[index].preco%></option>
                                      <%}%>
                                    </select>
                                  </div>
                                  <div class="col-md-3">
                                    <label for="">Quantidade:</label>
                                    <input type="number" class="form-control quantidade quantidade_0" data-id="0" placeholder="Digite uma quantidade" name="vendas[0][quantidade]">
                                  </div>
                                  <div class="col-md-2">
                                    <label for="">R$</label><br>
                                    <span class="produtoPreco_0">-</span>
                                  </div>
                                </div><br>
                                
                              </div>
                                  <div class="row">
                                    <div class="col-sm-6 col-md-12">
                                      <div class="card text-white bg-success text-center campo-preco-total">
                                        <div class="card-body">
                                          <blockquote class="card-bodyquote preco-total">
                                            Total: R$ <p class="valor-total">0.00</p>
                                          </blockquote>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <input type="hidden" class="total-form" name="valor" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary inserir">Inserir</button>
                    </div> 
                  </div>
                </div>
              </div>


              

      
      <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Admin</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i>  Dashboard</a>
              <a class="btn" href="#">
                <i class="icon-settings"></i>  Settings</a>
            </div>
          </li>
        </ol>
        <div class="container-fluid">



          <!--  -->
          <div class="animated fadeIn">
            <div class="row no-row">
              <div class="col-md-12">              
                <div class="row">
                  <div class="col-md-11 div-titulo">
                  <h1 class="titulo-pagina">Vendas</h1><p class="titulo-pagina titulo-pagina-desc"> | Listagem</p> 
                  </div>
                  <div class="col-md-1 pull-right">
                    <a class="btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-plus-square"></i></a>
                    <!-- <a class="btn" href="/vendas/inserir"><i class="fa fa-2x fa-plus-square"></i></a> -->
                  </div>
                </div>
                <hr>
                <form method="post" action="/vendas">
                  <div class="row form-group">
                    <div class="col-md-1">
                      <p><b>Filtros:</b></p>
                    </div>
                    <div class="col-md-1">
                      <input type="text" class="form-control" name="id" id="id" value="<%=filtros.id%>" placeholder="#ID">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="nome" id="nome" value="<%=filtros.nome%>" placeholder="Nome">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="data" id="data" value="<%=filtros.data%>" placeholder="Data">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="valor" id="valor" value="<%=filtros.valor%>" placeholder="Valor">
                    </div>
                    <div class="col-md-1">
                      <button type="button" id="buscar" class="btn btn-success pull-right">Buscar</button>
                    </div>
                  </div>
                </form>
                <div class="row "> 
                  <!-- <a href="produtos/inserir">Inserir novo produto</a><br>
                  <a href="/">Voltar</a> -->
                  <div class="col-md-12">
                    <table class="table">
                        <tr class="table-title">
                            <td>ID</td>
                            <td>Nome</td>
                            <td>Data</td>
                            <td>Valor</td>
                            <td>Ver</td>
                        </tr>
                        <% for(var i=0;i<lista.length;i++){ %>
                        <tr>
                            <td><%=lista[i].id%></td>
                            <td><%=lista[i].nome%></td>
                            <td><%=lista[i].data.getDate()%>/<%=lista[i].data.getMonth()%>/<%=lista[i].data.getFullYear()%></td>
                            <td>R$ <%=lista[i].valor.toFixed(2)%></td>
                            <td><a class="btn btn-primary" href="/vendas/ver/<%=lista[i].id%>">Ver</a></td>
                        </tr>
                        <% } %>
                    </table>
  
                  </div>
                </div>
    
              </div>
            </div>
          </div>

        </div> <!--Conteiner fluido -->
      </main>


      <!-- asside -->
      <%include ../layouts/aside.ejs%>

    </div>
    <%include ../layouts/footer.ejs%>
  </body>
  <script>
    $(document).on('click','#buscar',function(){
      var data = '';
      if($('#data').val() != ''){
        var data_brasil = $('#data').val().split('/');
        data = data_brasil[2]+'-'+data_brasil[1]+'-'+data_brasil[0];
      }

      window.location = '/vendas?id='+$('#id').val()+'&nome='+$('#nome').val()+'&data='+data+'&valor='+$('#valor').val();
    })

    i = 1;

    $(document).on('click','.inserir',function(){
      $('.form-inserir').submit()
    })

    $(document).on('click','.add-ingrediente',function(){
      var html = `<div class="row form-group">
                        <div class="col-md-5">
                          <select name="vendas[`+i+`][produto]" class="form-control produtos" data-id="`+i+`">
                            <option value="0">Escolha um produto</option>
                            <%for (index = 0; index < produtos.length; index++) {%>
                                    <option value="<%=produtos[index].id%>" data-preco="<%=produtos[index].preco%>"><%=produtos[index].nome%> - R$ <%=produtos[index].preco%></option>
                            <%}%>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <input type="number" class="form-control quantidade quantidade_`+i+`" data-id="`+i+`" placeholder="Digite uma quantidade" name="vendas[`+i+`][quantidade]">
                        </div>
                        <div class="col-md-2">
                          <span class="produtoPreco_`+i+`">-</span>
                        </div>
                        <div class="col-md-1">
                          <button type="button" class="btn btn-danger remove-ingrediente"><i class="fa fa-times"></i></button>
                        </div>
                      </div>`;

    $('.conteudo-ingredientes').append(html)
      i++;
    })

    $(document).on('click','.remove-ingrediente',function(){
      $(this).parent().parent().remove()
    })

    $(document).on('change','.produtos',function(){
      var preco = $(this).find(':selected').data('preco')
      var id = $(this).data('id');
      if($(this).val() == 0){
        $('.produtoPreco_'+id).html('-')
      }else{
        $('.produtoPreco_'+id).html(preco+' x <span class="quantidadeTotal_'+id+'">1</span><input type="hidden" class="subtotal subtotal_'+id+'" data-preco="'+preco+'" value="'+preco+'">')
      }
      $('.quantidade_'+id).val(1)

      var soma = 0;
      $('.subtotal').each(function(i,e){
        soma += parseFloat($(e).val())
      })
      $('.valor-total').text(soma.toFixed(2))

    })

    $(document).on('change','.quantidade',function(){
      var id = $(this).data('id')
      var qtd = $(this).val()
      var subtotal = $('.subtotal_'+id).data('preco')

      $('.quantidadeTotal_'+id).text(qtd)
      $('.subtotal_'+id).val(qtd * subtotal)
      
      var soma = 0;
      $('.subtotal').each(function(i,e){
        soma += parseFloat($(e).val())
      })
      $('.valor-total').text(soma.toFixed(2))
      $('.total-form').val(soma.toFixed(2))

    })
  </script>
</html>